
@import "tailwindcss";


@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #0ea5e9;
  --color-primary-hover: #0284c7;
  --color-sidebar-bg: #0ea5e9;
  --color-body-bg: #f8fafc;
}

body {
  background-color: var(--color-body-bg);
  color: #1e293b;
  font-family: 'Inter', system-ui, sans-serif;
}
.dark body {
  background-color: #0f172a;
  color: #f1f5f9;
}


